:root {
    --primary-logo-color: #4D5AE5;
    --primary-color: #2E2F42;
    --secondary-color: #434455;
    --secondary-background-color: #F4F4FD;
    --hover-color: #404BBF;
  }
  
  body {
    background-color: #ffffff;
    color: var(--secondary-color);
  }
  

  .logo.link {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-logo-color);
  }
  
  .link {
    text-decoration: none;
  }

  .list,
  .list::before{
    list-style: none;
    list-style-type: none;
  }

  .text-link {
    color: #2E2F42;
  }


  .nav-item.link{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color);
  }
  

  .nav-item.link:hover,
  .nav-item.link:focus {
    color: var(--hover-color);
  }
  
  .address-link.link {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  
  .address-link.link:hover,
  .address-link.link:focus {
    color: var(--hover-color);
  }

  .btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    background-color: var(--secondary-background-color);
    cursor: pointer;
    color: #4D5AE5;
  }

  /* .btn.activer{
    color: #4D5AE5;
  } */
  
  .btn:hover, 
  .btn:focus{
    background-color: var(--hover-color);
    color: #ffffff;
  }

  .btn-orders{
    background-color: var(--primary-logo-color);
    color: #ffffff;

  }
  
  .primary-section{
    background-color:var(--primary-color);
  }

  .title {
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .title-section{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-color);
  }

  .title-description{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-color);
  }

  .text-description{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .text-category{
    color: #434455;
  }

  .title-project {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-color);
  }

  .list-item{
    background-color: #FFFFFF;
  }

  .team {
    background-color: #F4F4FD;
  }
  

  .footer{
    background-color: #2E2F42;
  }

  .footer .text-link{
    color: #F4F4FD;
  }

  .footer-text{
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #F4F4FD;
  }